#B1 {
    background-color: #00ff90;
    color: #000000;
}

#B2 {
    background-color: #ff0000;
    color: #ffd800;
}

#B3 {
    background-color: #b200ff;
    color: #ffffff;
}

#B4 {
    background-color: #ff006e;
    color: #ffffff;
}
