
table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    border: 2px solid black;
    padding: 1%;
    min-width: 80px;
}

.ax {
    background: gray;
}

h1 {
    text-align: center;
    font-size: 22px;
}

#back {
    font-style: italic;
    text-decoration: none;
}

h2 {
    text-align: center;
}

#main {
    background: #008000;
    color: #000000;
    font-weight: 600;
}

@media (min-width: 992px) {
    th {
        font-size: 130%;
    }

    td {
        font-size: 120%;
    }
}

@media (max-width: 992px) {
    th {
        font-size: 120%;
    }

    td {
        font-size: 110%;
    }
}

@media (min-width: 768px) {
    th {
        font-size: 120%;
    }

    td {
        font-size: 110%;
    }
}

@media (max-width: 768px) {
    th {
        font-size: 110%;
    }
}

